DATABASE_URL=postgresql+asyncpg://postgres_user:postgres_password@postgres:5432/postgres
DATABASE_URL_ALEMBIC=postgresql+psycopg2://postgres_user:postgres_password@postgres:5432/postgres

SECRET_KEY=p94EGTj8bG1eEs/PBA/b1qMpgd/CEmeZtIacrWfvGV8=
ALGORITHM=HS256
TOKEN_EXPIRE=3600

COOKIE_EXPIRE=3600